@import "tailwindcss";
@theme {
  --color-main: #FDEFE7;
  --color-primary: #9A520B;
  --color-black: #252424;
  --color-white: #F4F4F4;
  --font-display: "Montserrat", "sans-serif";
}

/* TODO: need to refactor */
.btn {
    @apply text-white py-3 lg:px-6 px-3 rounded-3xl border-[#B36110] border-solid border-1 lg:text-xl text-base;
    background: linear-gradient(91.43deg, #E48930 3.08%, #B36110 99.01%);
}